/*NavBar*/

.nav-links,
.nav-list {
	display: flex;
	justify-content: space-between;
}

.nav-links {
	margin: 2em 0 3em 5em;
	height: 5em;
	align-items: center;
}

.burger-menu {
	display: none;
}

.nav-list {
	flex-direction: row;
	list-style: none;
	padding: 2em 5em 2em 5em;
	/* height: 1.1em; */
	width: 40%;
}

.nav-a {
	justify-content: flex-end;
	transition: 0.5s ease;
	transition-delay: 0s;
	font-size: 1.5em;
	font-weight: 100;
}

.nav-a:hover {
	border-bottom: rgba(245, 245, 245, 0.767) solid;
}

.nav-a:active {
	border-bottom: rgb(255, 255, 255) solid;
	color: white;
}

.nav-liner {
	width: 13em;
	margin-right: -4em;
}

body {
	background-color: black;
	color: WHITE;
}

/*NavBar Mobile*/
@media screen and (min-width: 200px) and (max-width: 750px) {
	* {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.logo {
		width: 100px;
	}
	/* sidebar Nav */
	.navvie {
		margin: 0;
		display: flex;
		flex-direction: row;
	}

	.burger-menu {
		display: block;
		position: relative;
	}

	.burger-menu button {
		position: fixed;
		right: 40px;
		top: 40px;
		z-index: 10;
		cursor: pointer;
		background-color: transparent;
		border: none;
	}

	.menuNav {
		overflow-y: scroll;
		list-style: none;
		position: fixed;
		top: 0;
		background: black;
		right: -50px;
		bottom: 0;
		height: 100vh;
		width: 0;
		overflow: hidden;
		max-width: 250px;
		z-index: 9;
	}

	.menuNav.showMenu {
		width: 100%;
	}

	.nav-a {
		display: block;
		padding: 10px 40px;
		text-decoration: none;
		color: #3fffd2;
		text-transform: uppercase;
		font-weight: bold;
	}

	.menuNav li:first-child {
		margin-top: 7rem;
	}

	/* .burgerbutton{
	background-color: transparent;
} */

	/* Nav Bar Mobile version */

	.nav-links {
		margin: 0 0 0 40px;
		padding: 10px 0 0 0;
	}

	.nav-list {
		display: none;
		overflow-y: hidden;
	}

	.nav-p {
		font-size: 14px;
		margin-right: 8px;
	}

	.nav-liner {
		display: none;
	}
}

/* Home Section*/

.header {
	margin: 0;
	height: 80vh;
	width: 100vw;
	background-image: url(./components/assets/header.jpg);
	background-position: bottom;
	background-size: cover;
	background-color: rgba(143, 38, 143, 0.733);
	background-blend-mode: multiply;
}

/* Contact Form */

#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 70vh;
}

#submit {
	background-color: blueviolet;
	border-radius: 20px;
	border: transparent;
	padding: 5px;
	width: 90px;
	color: aliceblue;
}

/*Store section*/

.store-pic {
	width: 40vw;
	height: 60vh;
	border-radius: 30px;
}

.store-sect {
	display: flex;
	flex-direction: column;
}

.desti-store {
	display: flex;
	flex-direction: row;
	gap: 80px;
}
.dialog {
	box-shadow: 0 8px 6px -6px black;
	position: static;
	left: 50%;
	top: 50%;
}

.store-heading {
	margin-right: 50px;
	font-size: 3em;
}

.description {
	font-size: 1.2em;
	margin-right: 50px;
}
.all {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 200px) and (max-width: 750px) {
	.store-pic {
		width: 75vw;
		height: 30vh;
		border-radius: 30px;
	}

	.store-sect {
		display: flex;
		flex-direction: column;
	}
	.store-heading {
		margin-right: 50px;
		font-size: 1.5em;
	}

	.description {
		font-size: 1em;
		margin-right: 50px;
	}
	.desti-store {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.dialog {
		box-shadow: 0 8px 6px -6px black;
		position: absolute;
		left: 0;
		top: 0;
	}

	.lightbox {
		position: relative;
		top: 0;
		left: 0 !important;
		width: 20rem !important;
		height: 20rem !important;
	}
}
